**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions

node_modules

/app/assets
/app/bridge.js
/app/material.js

/bundles
/data

app-build/midi-out/libremidi
app-build/midi-out/build